---
layout: page
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Journal Papers</h2>
<ul>
{% assign journals = site.publications | where: "type", "journal" | sort: "year" | reverse %}
{% for post in journals %}
  <li>
    {{ post.authors }}, <strong>{{ post.title }}</strong>,
    <em>{{ post.venue }}</em>, {{ post.year }}.
    {% if post.doi %}
      <a href="https://doi.org/{{ post.doi }}">[DOI]</a>
    {% endif %}
    {% if post.url %}
  <a href="{{ post.url }}" target="_blank">[Link]</a>
{% endif %}
  </li>
{% endfor %}
</ul>

<h2>Conference Papers</h2>
<ul>
{% assign conferences = site.publications | where: "type", "conference" | sort: "year" | reverse %}
{% for post in conferences %}
  <li>
    {{ post.authors }}, <strong>{{ post.title }}</strong>,
    <em>{{ post.venue }}</em>, {{ post.year }}.
    {% if post.doi %}
      <a href="https://doi.org/{{ post.doi }}">[DOI]</a>
    {% endif %}
    {% if post.pdf %}
  <a href="{{ post.pdf }}" target="_blank">[PDF]</a>
{% endif %}
    {% if post.url %}
  <a href="{{ post.url }}" target="_blank">[Link]</a>
{% endif %}
  </li>
{% endfor %}
</ul>
