---
layout: page
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

<h2>Journal Papers</h2>
<ul>
{% for post in site.publications reversed %}
  {% if post.type == "journal" %}
    <li>
      {{ post.authors }}, <strong>{{ post.title }}</strong>,
      <em>{{ post.venue }}</em>, {{ post.year }}.
      {% if post.doi %}
        <a href="https://doi.org/{{ post.doi }}">[DOI]</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Conference Papers</h2>
<ul>
{% for post in site.publications reversed %}
  {% if post.type == "conference" %}
    <li>
      {{ post.authors }}, <strong>{{ post.title }}</strong>,
      <em>{{ post.venue }}</em>, {{ post.year }}.
      {% if post.doi %}
        <a href="https://doi.org/{{ post.doi }}">[DOI]</a>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
